<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ fav_icon }}" />
    <title>CutCat</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script type="text/babel">
      function Main() {
        const [msg, setMsg] = React.useState([]);
        const [topicName, setTopicName] = React.useState("");
        const socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );

        React.useEffect(() => {
          if (topicName !== "") {
            socket.on(topicName, handleMsgReceived);
          }
        }, [topicName]);

        const handleMsgReceived = (receivedMsg) => {
          console.log("Received message" + receivedMsg);
          setMsg([...msg, receivedMsg.message]);
        };

        React.useEffect(() => {
          fetch(
            "http://" +
              document.domain +
              ":" +
              location.port +
              "/get_cur_session",
            { method: "GET" }
          )
            .then((rez) => {
              return rez.text();
            })
            .then((session_id_as_topic_name) => {
              setTopicName(session_id_as_topic_name);
            })
            .catch((e) => {
              console.log(e);
            });

          return () => {
            socket.close();
          };
        }, []);

        const joinTopic = () => {
          fetch("http://" + document.domain + ":" + location.port + "/join", {
            method: "POST",
          }).catch((e) => {
            console.log(e);
          });
        };

        const postInTopic = () => {
          console.log("will post in topic");
          fetch(
            "http://" + document.domain + ":" + location.port + "/post_topic",
            {
              method: "POST",
            }
          )
            .then(() => {
              console.log("posted");
            })
            .catch((e) => {
              console.log(e);
            });
        };

        return (
          <div>
            <h1> welcome </h1>
            {msg.map((m) => (
              <p>{m}</p>
            ))}
            <button onClick={joinTopic}>JOIN</button>
            <button onClick={postInTopic}>POST-TOPIC</button>
          </div>
        );
      }

      ReactDOM.render(<Main />, document.getElementById("root"));
    </script>
  </body>
</html>
