<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ fav_icon }}" />
    <title>CutCat</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel">
      function App() {
        const [appStatus, setAppStatus] = React.useState("upload-bg"); // app status can be : upload-bg || open-for-connections
        const [selectedFile, setSelectedFile] = React.useState(null);

        React.useEffect(() => {
          console.group(
            "%c CutCat",
            "font-weight: bold; font-size: 50px;color: red; text-shadow: 3px 3px 0 rgb(217,31,38) , 6px 6px 0 rgb(226,91,14) , 9px 9px 0 rgb(245,221,8) , 12px 12px 0 rgb(5,148,68) , 15px 15px 0 rgb(2,135,206) , 18px 18px 0 rgb(4,77,145) , 21px 21px 0 rgb(42,21,113)"
          );
          console.log(
            "Created by : " + "%cAnis Snoussi",
            "background-color: rgb(217,31,38) ; color: #ffffff ; font-weight: bold ; padding: 4px ;"
          );
          console.log(
            "Contact email : " + "%csnoussi.anis@insat.u-carthage.tn",
            "background-color: rgb(217,31,38) ; color: #ffffff ; font-weight: bold ; padding: 4px ;"
          );
          console.log(
            "Open Source : " + "%chttps://github.com/ansnoussi/CutCat",
            "background-color: rgb(217,31,38) ; color: #ffffff ; font-weight: bold ; padding: 4px ;"
          );
          console.log(
            "License : " + "%cI don't even know...",
            "background-color: rgb(217,31,38) ; color: #ffffff ; font-weight: bold ; padding: 4px ;"
          );

          console.groupEnd();
        }, []);

        const submitBackground = (e) => {
          e.preventDefault();
          if (selectedFile) {
            let data = new FormData();
            data.append("background_image", selectedFile);
            fetch("/set_background", {
              method: "POST",
              body: data,
            })
              .then((response) => {
                console.log(response);
                setAppStatus("open-for-connections");
              })
              .catch((err) => {
                console.log(err);
              });
          }
        };

        return (
          <div style={styles.container}>
            {appStatus === "upload-bg" && (
              <div style={styles.qrContainer}>
                <img
                  src={
                    "http://" +
                    document.domain +
                    ":" +
                    location.port +
                    "/static/logo-text-white.png"
                  }
                />
                <form
                  style={styles.form}
                  method="post"
                  onSubmit={submitBackground}
                  enctype="multipart/form-data"
                >
                  <label for="background-image">Upload your background: </label>
                  <input
                    type="file"
                    id="background-image"
                    name="background_image"
                    accept="image/*"
                    required
                    onChange={(e) => setSelectedFile(e.target.files[0])}
                  />
                  <button type="submit">Submit</button>
                </form>
              </div>
            )}

            {appStatus === "open-for-connections" && (
              <div style={styles.qrContainer}>
                <img src="{{ qrcode(session.sid, error_correction='H', icon_img='https://i.imgur.com/h8WBNH0.jpeg')}}" />
                <button
                  style={styles.startButton}
                  onClick={() => (window.location.href = "/show_background")}
                >
                  Proceed to Background
                </button>
              </div>
            )}
          </div>
        );
      }

      const styles = {
        container: {
          display: "flex",
          alignItems: "center",
          justifyContent: "center",
          height: "98vh",
          backgroundColor: "black",
        },
        text: {
          color: "#dcdcdc",
          fontSize: "1.125rem",
          fontWeight: 500,
        },
        qrContainer: {
          display: "flex",
          flexDirection: "column",
          alignItems: "center",
          justifyContent: "center",
        },
        startButton: {
          marginTop: 25,
        },
        form: {
          marginTop: 25,
          color: "white",
        },
      };

      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
  </body>
</html>
