redis
flask
flask_session
gunicorn
requests
pillow
flask-qrcode
Flask-SocketIO==4.3.1
Pypubsub==4.0.3
python-engineio==3.13.2
python-socketio==4.6.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability